th, td {
    border: 1px solid;
  }
  
  table {
    border-collapse: collapse;
    width: 60%; 
  }
th {
  height: 50px;
}
tbody th {
  background-color: powderblue;
  color: black;
  text-align: left;
}
th {
  background-color: #04AA6D;
  color: black;
}